/* #region Variables */
:root{
    --items: 3;
    --indent-col: 24px;
    --indent-row: 48px;
}
/* others */


/* #endregion  */

/* #region Base */
body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    font-style: normal;
} 

button{
    cursor: pointer;
}

address{
    font-style: normal;
}
/* #endregion  */

/* #region Buttons */

.btn{
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    appearance: none;
        

}
.btn-accent{

}
/* #endregion  */

/* #region Common */

.section{
    padding: 120px 0;
    
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.benefits-title,
.portfolio-title,
.team-title {
    margin-bottom: 72px;
}

.logo{
    color: #4D5AE5;
    line-height: 1.17;
    margin-right: 76px

}
.logo-dark {
    color: #2E2F42;
}
.logo-light{
    color: #ffffff;
}
/* Card set */
.card-set{
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--indent-row);
    column-gap: var(--indent-col);

}
.card-set-item{
    width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
}
/* #endregion  */

/* #region Header */
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc
}
.header-container{
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
    margin-right: 332px;
    flex-grow: 1;
    justify-content: space-between;
}

.header-nav-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;

}


.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-item {}

.header-nav-link {
    display: block;
    padding: 24px 0;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-nav-link:hover{
    color: #404bbf;

}
.header-nav-link:focus{
    color: #404bbf;
}

.address {
}

.header-address {

   
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-item {}

.address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.address-link:hover{
    color: #404bbf
}
.address-link:focus{
    color:#404bbf

}
/* #endregion  */

/* #region Hero */
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
        
        
}
.btn-accent{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    min-width: 169px;
    min-height: 56px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
}
.btn-accent:hover {
    background-color: #404bbf;
}
.btn-accent:focus {
    background-color: #404bbf;
}
/* #endregion  */

/* #region Benefits */
.benefits {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.benefits-title {
    color: #2E2F42;

}

.benefits-list {
    --items: 4;
    display: flex;
        flex-wrap: wrap;
        list-style: none;
        
        padding: 0;
        margin: 0;
        gap: var(--indent-col);

}

.benefits-item {

}

.benefits-caption {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.benefits-desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* #endregion  */



/* #region Team */
.team {
   background-color: #F4F4FD; 
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    --items: 4;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--indent-col);

}

.team-item {
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    
    
}
.team-frame {
    padding: 32px 0;
    
}

.team-caption {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px;
        
}

.team-desc {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
    }
        
/* #endregion  */

/* #region Portfolio */
.portfolio {}

.portfolio-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
}

.portfolio-list {}

.text-frame {
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
    
}

.portfolio-item {
    background-color: #FFFFFF;
   
}
.portfolio-caption {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 8px;
        
       
}

.portfolio-desc {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
         
         
}
/* #endregion  */

/* #region Footer */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.logo-light{
    color: #f4f4fd;
}
.footer-desc {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-top: 18px;
}

/* #endregion  */